#!/bin/sh

# MILL CMD #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# Usage: mill cmd
# Summary: A command
# Help: This is a command. It does nothing.
# Use it like this:
#
#    mill cmd
#

set -e
source $_MILL_ROOT/share/mill/local.config

echo "This does nothing."