#!/bin/sh

# Summary: local config for `mill`. these are just shell vars 8)

# # PAPERMILL CONFIGURATION ###################################################
# 
# ## Under the hood ###########################################################
# 
# These settings can be changed, but you should know what you're doing.

# How should the directory for output files be called? 
# Default: "output"
OUTPUT_DIR="output"

# Where to get the stationery from? Maybe your own fork?
# Default: "https://github.com/papermill/stationery"
STATIONERY_REPO="https://github.com/papermill/stationery"

# Which Gitlab API Version to use?
# Default: "2"
GITLAB_APIV="2"