#!/bin/sh

# local config for mill

# these are just shell vars 8)

HIDDEN_CONFIG_FILES="true" # (not yet configurable)
DEFAULT_STATIONERY_TYPE="true" # (not yet configurable)

OUTPUT_DIR="output" # Default: "output"
STATIONERY_REPO="https://github.com/papermill/stationery" # for `git clone`; default: "https://github.com/papermill/stationery"

# Ideas for local Options

BIBLIOGRAPHY="true" # (not yet configurable)
HIDDEN_CONFIG="true" # (not yet configurable)