#!/bin/sh

# Summary: user config for `mill`. these are just shell vars 8)

# # PAPERMILL USER CONFIGURATION ##############################################
# 
# ## Matters of taste #########################################################
# 
# These values can be changed by the user according to personal taste.
# They can also all be used in a local per-project file.

#----- ONLY EDIT BELOW THIS LINE -----#

# Should the config files be hidden (dotfiles) or not?
# (yes/no), Default: "yes"
HIDDEN_CONFIG_FILES="yes" # (not yet configurable)

# Which type of stationery to use?
# (Simple/Paper/Thesis), Default: "Paper"
STATIONERY_TYPE="Paper"

# ### GITLAB ##########################

# Use gitlab?
# (yes/no), Default: no
GITLAB="no"

# The URL for your Gitlab-Installation
GITLAB_URL="https://git.ars.is"
GITLAB_API_V=2
GITLAB_API_TOKEN="wW8z9y7dcNsQqp3uVKqw" # Get it from https://your.gitlab.url/profile/account



# ## Ideas for local Options ##################################################

BIBLIOGRAPHY="true" # (not yet configurable)

